#define RT_MANIFEST 24
#define MANIFEST_RESOURCE_ID 1
#define RT_CUSTOM CUSTOM
#define XAML_RESOURCE_ID XAML

MANIFEST_RESOURCE_ID RT_MANIFEST "BindableRecordset.exe.manifest"
XAML_RESOURCE_ID RT_CUSTOM "XamlTemplate.xml"